stream {
    upstream airflow_http {
        server {{ k8s_control_plane_ip }}:{{ ingress_nodeport_http }};
    }
    upstream airflow_https {
        server {{ k8s_control_plane_ip }}:{{ ingress_nodeport_https }};
    }
    server {
        listen 80;
        proxy_pass airflow_http;
    }
    server {
        listen 443;
        proxy_pass airflow_https;
    }
}
